*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: #cccccc62;
}

.logo{
  font-family:'Brush Script MT', cursive;
  color: rgb(253, 0, 0);
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #646262;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 80px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.showcase-area {
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}
.main-title {
  text-transform: uppercase;
  margin-top: 1em;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.heading{
    margin-bottom: 1rem;
    text-align: center;
    color: #635e61d2;
}

  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin-top:0px;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 2fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
    .logo {
      position: absolute;
      top: 06px;
      left: 15px;
      font-size: 3rem;
    }
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }
  